
*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto';
    background: #ebebeb;
}
img.image-bg {
    width: 100%;
    border-radius: 20px;
}


section.main-bg {
    background: #ebebeb;
    padding: 20px;
    
}

.main-left-bg {
    background: #fff;
    padding: 15px;
    position: relative;
    border-radius: 30px;
}
h3.right-head {
    background: #fff;
    padding: 12px;
    text-align: center;
    box-shadow: 0 1px 4px 1px #00000069;
    font-weight: 700;
    border-radius: 3px;
}
.accordion {
    margin-top: 8%;
}
h6.right-sub {
    background: #f1f1f1;
    padding: 10px;
    box-shadow: 0px 1px 2px 1px #8f8f8fa1;
    border-radius: 5px;
}

h6.right-sub {
    display: flex;
    justify-content: space-between;
}

.dropdown-menu.show {
    width: 100%;
}

h6.right-sub.accordion-button {
    margin: 0;
}

.accordion-item {
    margin: 0 0px 1%;
    border-radius: 5px;
}
div#collapseOne,div#collapseTwo,div#collapseThree,div#collapsefour {
        background: #fff;
        border: 1px solid #898989;
        border-radius: 5px;
        margin-bottom: 3%;
        box-shadow: 0px 1px 2px 1px #c7c7c7;
}

.accordion-button::after{
    display: none;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: #f1f1f1;
    box-shadow: 0px 1px 2px 1px #8f8f8fa1;
}

span.reset.position-absolute.text-white {
    background-color: #000;
    width: 12%;
    right: 3%;
    bottom: 4%;
    padding: 6px 10px;
    border-radius: 100px;
    position: absolute;
}
svg.svg-inline--fa.fa-rotate-left {
    margin-right: 5%;
}


.nav-link {
    font-weight: 500;
    color: #000;
    text-decoration: none;
    font-size: 14px;
}
.nav{
    justify-content: space-around;

}
li.active a {
    color: #999 !important;
}
.accordion-body{
    padding: 0 !important;
}
.nav-tabs {
    border-bottom: 1px solid #000000;
    box-shadow: 0px 2px 4px 0 #b5b5b5;
}

div#home,
div#profile,
div#contact {
    padding: 5px 15px;
}


.accordion-body.two,.accordion-body.three,.accordion-body.four {
    padding: 15px !important;
}


.btn-secondary,.btn-secondary:hover {
    color: #000 !important;
    background-color: #6c757d00 !important;
    border-color: #6c757d !important;
}
.btn{
    padding: 4px 15px !important;
}
select#select-2 {
    color: #000 !important;
    background-color: #6c757d00 !important;
    border-color: #6c757d !important;
    border-radius: 5px;
    width: 184px;
    padding: 4px 15px !important;
}
span.last-btn.text-white {
    background: #000;
    padding: 10px;
    font-size: 12px;
    border-radius: 100px;
}
a.button-last {
    text-decoration: none;
}   

/* ===================================================== */

table{
    border-collapse: none !important;
}

table.table {
    margin: 0;
}
table.table td {
    padding: 5px 0;
    font-size: 13px;
    border: none;
}
tr.first-tr td {
    padding: 15px 0px 5px;
}
table.table th {
    text-align: center;
    font-size: 14px;
}
td.checkbox {
    text-align: center;
}
input.boxc {
    height: 20px;
    width: 20px;
}
p.last-title {
    font-weight: 400;
    margin-left: 2%;
}
td.on-off-but input#switch {
    display: none;
}


/* ================================= */

  .button-cover,
  .knobs,
  .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  .button {
    position: relative;
    top: -5px;
    width: 63px;
    height: 29px;

    overflow: hidden;
}
  

  
  .button.b2 {
    border-radius: 15px;
  }
  
  td.on-off-but .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
  }
  
  .knobs {
    z-index: 2;
  }
  
  .layer {
    width: 100%;
    background-color: #fcebeb;
    transition: 0.3s ease all;
    z-index: 1;
  }
  
#button-18 .knobs:before,
#button-18 .knobs span {
  content: "OFF";
  position: absolute;
  top: 4px;
  left: 4px;
  color: #fff;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  background-color: #ff3f3f;
  border-radius: 2px;
}

#button-18 .knobs:before {
  top: 50%;
  left: 7px;
  width: 20px;
  height: 10px;
  margin-top: -5px;
  background-color: transparent;
  z-index: 2;
}

#button-18 .knobs span {
  width: 27px;
  height: 20px;
  padding: 9px 4px;
  border-radius: 30px;
  transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
  z-index: 1;
}



#button-18 .checkbox:active + .knobs span {
  width: 58px;
}

#button-18 .checkbox:checked:active + .knobs:before {
  left: auto;
  right: 10px;
  background-color: #d80000;
}

#button-18 .checkbox:checked:active + .knobs span {
  margin-left: -38px;
}

#button-18 .checkbox:checked + .knobs:before {
  content: "ON";
  left: 36px;
}

#button-18 .checkbox:checked + .knobs span {
  left: 33px;
  background-color: #008f1f;
}

#button-18 .checkbox:checked ~ .layer {
  background-color: #006a1240;
}

.dropdown-item{
    font-size: 12px;
}

.last-sec-2 {
    display: flex;
}
input#vol {
    width: 182px;
}
.two-size {
    padding-top: 5px;
}

/* =================================== */

@media (max-width:1200px){
    span.reset.position-absolute.text-white {
        width: 12%;
        padding: 5px 8px;
    }
}


@media(max-width:992px){
    span.reset.position-absolute.text-white {
        width: 13% !important;
        padding: 5px 8px;
    }
    h3.right-head {
    padding: 11px !important;
    }
    span.reset.position-absolute.text-white {
        background-color: #000;
        width: 10%;
        right: 3% !important;
        bottom: 5% !important;
        padding: 6px 10px;
        border-radius: 100px;
        position: absolute;
    }

  
    
}


@media(max-width:768px){
    span.reset.position-absolute.text-white {
        width: 13% !important;
        padding: 5px 8px;
    }
    span.reset.position-absolute.text-white {
        background-color: #000;
        width: 10%;
        right: 3% !important;
        bottom: 4% !important;
        padding: 6px 10px;
        border-radius: 100px;
        position: absolute;
    }
    .two-size {
        margin-top: 5%;
    }
    .accordion {
        margin-top: 5%;
    }
    .button {
      
        top: -5px;
    }
    table.table td {
        
        font-size: 17px;
        
    }


    
    
    
    
    
    
    
  
}

@media(max-width:576px){
    span.reset.position-absolute.text-white {
        width: 16% !important;
       
    }
    span.reset.position-absolute.text-white {
        background-color: #000;
        width: 10%;
        right: 4% !important;
        bottom: 5% !important;
        padding: 6px 10px;
        border-radius: 100px;
        position: absolute;
    }
    div#button-18 {
        margin: 0 auto !important;
    }
    table.table td {
        font-size: 15px !important;
    }
    
    
}
@media(min-width:440px) and (max-width:575px){
    table.table td {
        padding: 5px 0;
        font-size: 19px !important;
        border: none;
    }
    
}



@media(max-width:479px){
    span.reset.position-absolute.text-white {
        width: 25% !important;
       
    }
    .button {
     
        top: -4px !important;
        width: 55px !important;
        height: 27px !important;
 
    }
    #button-18 .knobs span{
        border-radius: 8px !important;
        top: 3px !important;
    }
    #button-18 .knobs:before {
    top: 13px !important;
    }
    #button-18 .checkbox:checked + .knobs:before{
        left: 28px !important;
    }
    #button-18 .checkbox:checked + .knobs span{
        left: 25px !important;
    }
    span.reset.position-absolute.text-white {
        background-color: #000;
        width: 10%;
        right: 6% !important;
        bottom: 8% !important;
        font-size: 13px;
        padding: 6px 10px;
        border-radius: 100px;
        position: absolute;
    }
    input#vol {
        width: 143px !important;
    }
    
    select#select-2{
        width: 142px !important;
    }
    p.last-title{
        margin-bottom: 0 !important;
    }
    .inner-sec.d-flex.align-items-center.justify-content-between {
        margin: 6% 0px;
    }

}







@media(min-width:320px) and (max-width:359px){
    span.reset.position-absolute.text-white {
        width: 27% !important;
       
    }

    .button {
        position: relative;
        top: 0;
        width: 49px !important;
        height: 29px;
        overflow: hidden;
    }
    select#select-2 {
        width: 122px !important;
    }
    span.reset.position-absolute.text-white {
        background-color: #000;
        width: 10%;
        right: 8% !important;
        bottom: 9% !important;
        font-size: 13px;
        padding: 6px 10px;
        border-radius: 100px;
        position: absolute;
    }
    input#vol {
        width: 122px !important;
    }
    #button-18 .checkbox:checked + .knobs span {
        left: 20px !important;
        background-color: #008f1f;
    }
    #button-18 .checkbox:checked + .knobs:before {
        content: "ON";
        left: 23px !important;
    }

    
}
console.log('string');
console.log(42);
console.log({object: 'object'});
console.log(['array', 'array']);